# NACOS_SERVER_IP={{ hostvars[inventory_hostname].ansible_host }}
NACOS_SERVERS={{ nacos_servers }}
MYSQL_SERVICE_HOST={{ mysql_master_host }}
MYSQL_SERVICE_DB_NAME={{ nacos_db_name }}
MYSQL_SERVICE_PORT={{ mysql_master_port }}
MYSQL_SERVICE_USER={{ mysql_master_user }}
MYSQL_SERVICE_PASSWORD={{ mysql_master_password }}
MYSQL_SERVICE_DB_PARAM=characterEncoding=utf8&connectTimeout=10000&socketTimeout=30000&autoReconnect=true&serverTimezone=UTC&useSSL=false
JVM_XMS={{ jvm_xms }}
JVM_XMX={{ jvm_xmx }}
JVM_XMN={{ jvm_xmn }}
